/* styles/globals.css */

:root {
  --font-family: 'Inter', sans-serif;
  --font-size-base: 16px;
  --color-primary: #545456;
  --color-secondary: #737372;
  --color-background: #282828;
  --color-text: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1280px;
  height: 100vh;
  max-height: 100vh;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sub-header {
  text-align: center;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
  overflow-y: auto;
}
